/*
  above is the default css file
 */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
}

/* Remove default button styles */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
}

/* Customize button appearance */
/* styling for the whole page */
/* -------------- adjust height ------------------*/


/* --------------- text styling ---------------*/

/* use this to hide elements on small screens */
.inline-onlarge {
  display: none;
}
.justify-start-onlarge {
  justify-content: unset;
}

/*-------------- background color-----------------*/

/* button background color */
.button-bg-theme {
  background-color: #ad46fbef;
}

.button-bg-theme:hover {
  background-color: #ad46fb;
}

.bg-theme {
  background-color: #ad46fbef;
}

/* CSS */
/* Define the default styles for the hoverelement */
.hoverElement {
  transition: background-color 0.3s ease-in-out; /* Add transition for smooth effect */
}

/* Define the styles for the hoverelement on hover */
.hoverElement:hover {
  background-color: #e0e0e0;
  /* Add any other styles you want to apply on hover */
}

/* Styles for small screens */
.navbar {
  display: flex;
  font-size: 1.125rem;
  color: #4a5568;
  align-items: center;
  justify-content: center;
}

/* Styles for small screens */

/* ---------- Styles for extra-large screens ---------*/
@media (min-width: 1200px) {
  /* Additional styles for extra-large screens */
/*   .hoverElement {
    width: auto;
    height: auto;
  } */
  /* Styles for large screens */
  .navbar {
    justify-content: start;
    padding: 0.75rem;
  }
  /* Styles for large screens */
  .inline-onlarge {
    display: inline;
  }

  .justify-start-onlarge {
    justify-content: start;
  }
}

@layer components {
  .hoverEffect {
    @apply hoverElement rounded-full w-[50px] h-[50px] xl:w-auto xl:h-auto xl:p-3 cursor-pointer hover:bg-gray-200;
  }

  .hoverEffect2 {
    @apply hoverElement h-[50px] xl:w-auto xl:h-auto xl:p-3 cursor-pointer hover:bg-gray-200;
  }
}
